/* Landing Page */
#shades {
    /* Any overlay color that you want, here I use black with 25% opacity */
    background-color: rgba(0, 0, 0, 1);
}
#lp {
    padding-top: 4%;
}

body, html {
    height: 100%;
    margin: 0;
    font-family : source Sans Pro, sans-serif;
    background-color: black;
}

.landingPage {
    position: relative;
    bottom: 0;
    text-align: center;
    height: auto;
    width: auto;
    color: white;
}

.ctn {
    padding-top: 18%;
    
}

.ctn h1 {
    font-weight: bold;
}

#bg-vid {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#lp0 {
    padding-top: 12%;
}

.bold{
    font-weight: bold;
}

.nav-margin {
    margin: 0px 5%;
}
